# JWT
JWT_SECRET_KEY=
JWT_ISSUER=

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Email
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
API_EMAIL_FROM=
API_CONFIRM_EMAIL_ROUTE=
API_REJECT_EMAIL_ROUTE=

# Frontend
API_FRONTEND_URL=
